---
---

.highlight table td { padding: 5px !important; }
.highlight table pre { margin: 0 !important; }
.highlight, .highlight .w {
  color: #d8d8d8 !important;
  background-color: #303845 !important;
}
.highlight .err {
  color: #181818 !important;
  background-color: #ab4642 !important;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #eff247 !important;
}
.highlight .cp {
  color: #f7ca88 !important;
}
.highlight .nt {
  color: #f7ca88 !important;
}
.highlight .o, .highlight .ow {
  color: #d8d8d8 !important;
}
.highlight .p, .highlight .pi {
  color: #d8d8d8 !important;
}
.highlight .gi {
  color: #a1b56c !important;
}
.highlight .gd {
  color: #ab4642 !important;
}
.highlight .gh {
  color: #7cafc2 !important;
  background-color: #181818 !important;
  font-weight: bold !important;
}
.highlight .ge {
  font-style: italic !important;
}
.highlight .ges {
  font-weight: bold !important;
  font-style: italic !important;
}
.highlight .gs {
  font-weight: bold !important;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #ba8baf !important;
}
.highlight .kc {
  color: #dc9656 !important;
}
.highlight .kt {
  color: #dc9656 !important;
}
.highlight .kd {
  color: #dc9656 !important;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #a1b56c !important;
}
.highlight .sa {
  color: #ba8baf !important;
}
.highlight .sr {
  color: #86c1b9 !important;
}
.highlight .si {
  color: #a16946 !important;
}
.highlight .se {
  color: #a16946 !important;
}
.highlight .nn {
  color: #f7ca88 !important;
}
.highlight .nc {
  color: #f7ca88 !important;
}
.highlight .no {
  color: #f7ca88 !important;
}
.highlight .nf {
  color: #63bffc !important;
}

.highlight .na {
  color: #63bffc !important;
}

.highlight .nd {
  color: #bd93f9 !important;
}

.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #a1b56c !important;
}
.highlight .ss {
  color: #a1b56c !important;
}

pre span {
  line-height: 1.5rem !important;
  font-family: "Consolas", "Menlo", monospace !important;
}

.highlight .nc {
  color: #dbb97a !important;
}

.highlight .nl {
  color: #92d69e !important;
}

.highlight .n {
  color: #ffffff !important;
}

.highlight .s {
  color: #ffffff !important;
}

@import "jekflix";