/* ==========================================================================
   Syntax highlighting
   ========================================================================== */

/* Inline code block */
h1 {
    color: #000000 !important;
}

h2 {
    color: #cf6655 !important;
}

h3 {
  color: #6667ab !important;

}

h4 {
    color: #636363 !important;
}

code.highlighter-rouge {
  margin: 0;
  padding: 0.2em 0.4em;
  font-size: 85%;
  border-radius: 3px;
  color: #EF0303 !important;
  background-color: #E0E0E0 !important; /*#323744;*/ /* #2b313c */
}

/* Multi-line code blocks */
div.highlighter-rouge,
figure.highlight {
  position: relative;
  margin-bottom: 1em;
  font-family: $monospace-font-family;
  line-height: 1.2;

  > pre,
  pre.highlight {
    background-color: #323744 !important; /*#323744;*/ /* #2b313c */
    margin: 0;
    padding: 1em;
    code > span {
        font-size: 80% !important;
        letter-spacing: 0.125em !important;
    }
    .kd { /* keyword;*/
      color: #bf95e5 !important;
    }
    .nc {/* Class, 배열 */
      color: #d6ba82 !important;
    }
    .nf {/* method */
      color: #7abdf7 !important;
    }
    .na {/* method */
      color: #d08186 !important;
    }
    .no { /* UPPER CASE */
      color: #d08186 !important;
    }
    .kt {/* primitive */
      color: #bf95e5 !important;
    }
    .n {/* 변수명 */
      color: #e2b382 !important;
    }
    .mi {/* 숫자 */
      color: #e2b382 !important;
    }
    .k {/* keyword */
      color: #bf95e5 !important;
    }
    .c1 {/* 주석 */
      color: #FFD400 !important;
    }
  }
}

.highlight table {
  margin-bottom: 0;
  font-size: 1rem;
  border: 0;

  td {
    padding: 0;
    width: calc(100% - 1em);
    border: 0;

    /* line numbers*/
    &.gutter {
      padding-right: 1em;
      width: 1em;
      border-right: 1px solid;
      text-align: right;
      font-size: 50% !important;
    }

    /* code */
    &.code {
      padding-left: 1em;
      font-size: 50% !important;
    }
  }

  pre {
    margin: 0;
    font-size: 50% !important;
  }
}

.highlight pre {
  width: 100%;
  font-size: 50% !important;
}

.gist {
  td,
  th {
    border-bottom: 0;
  }
}